/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
$body-bg: #11135d;
$text-color: #c3fffe;
$jumbotron-bg: #3190b4;
$navbar-default-bg: #f0ff13;
$navbar-default-color: #0ebecd;
$navbar-default-link-color: #0ebecd;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "utilities/mixins";
@import "font-awesome";

// z-indices
$z-index-1: 100;
$z-index-2: 200;

// font-size
$fs-0: 50px;

// override for the 'Home' navigation link
// .navbar-brand {
//   font-size: inherit;
// }

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 50px; // accommodate the navbar
  padding: 0; // accommodate the navbar

  .container {
    padding-top: 50px;
  }
}

section {
  @extend .row;
  margin-top: 20px;
}

.bg {
  @include fixed(20px 0 left 0);
  @include sizing(100%);
  background: url(quiz.jpg) no-repeat center center;
  background-size: cover;
  z-index: $z-index-1;
  top: 0;
  margin-top: 40px;

}

.header {
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:transparent;
  font-size: $fs-0;
  z-index: $z-index-2;
  margin-top: 100px;
  padding-left:  50px;
}

.breadcrumbs {
  padding-bottom: 30px;

  a:first-child {
    padding: 0 5px 0 0;
  }

  a, .current {
    padding: 0 5px;
  }
}

a:hover, a:focus {
  text-decoration: none;
}
