/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$body-bg: #11135d;
$text-color: #c3fffe;
$jumbotron-bg: #3190b4;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "utilities/mixins";

// z-indices
$z-index-1: 100;
$z-index-2: 200;

// font-size
$fs-0: 50px;

.bg {
  @include fixed(20px 0 left 0);
  @include sizing(100%);
  background: url(quiz.jpg) no-repeat center center;
  background-size: cover;
  z-index: $z-index-1;
  top: 0;
}

.breadcrumbs {
  padding-bottom: 30px;

  a:first-child {
    padding: 0 5px 0 0;
  }

  a, .current {
    padding: 0 5px;
  }
}

a:hover, a:focus {
  text-decoration: none;
}
